@CHARSET "ISO-8859-1";


header{
	text-align: right;
	color: #321D07;
	background: #EFC07F;
}
body{
}

#info {
	margin-left: 300px;
	margin-right: 300px;
	text-align: center;
	background: #C59394;
}

footer{
	text-align: center;
	color: white;
	background: #160E10; 
	margin-top: 300px;
}