<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% block head %}
<title>{% block title %}{{ title }}{% endblock %}</title>
{% endblock %}
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="page">

	<div id="header">


	<div class="right">
	<b><a href="/">Home</a></b>
	{% if username %}
	<b><a href="/board">My Boards</a></b> - <b><a href="/pin">My Pins</a> - {{ username }}</b> - <a href="{{ logout }}">Logout</a>
	{% else %}
	<a href="{{ login }}">Login</a>
	{% endif %}
	</div>
	</div>

	<div class="content">
	{% block content %}{% endblock %}
	</div>

	</div>


<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/mainpic.js"></script>
<script type="text/javascript" src="/js/jsonscript.js"></script>
</body>
<footer>
	<div id="footer">
	Andrew Kazura
	</div>
</footer>
</html>