<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
</head>
<header>
</header>

  <body>
  {% extends "base.html" %}
  {% block title %}{{ title }}{% endblock %}
  {% block header %}{{ header }}{% endblock %}
  {% block content %}
    <h1>{{ title }}</h1>
   
   <div class="displaybox2">
   <p>   <img class="imgpx" src="{{ imgUrl }}"/></p>
   <p id="captionline">  {{ caption }} </p>
   <p id="holder"> </p>
   <label for="pinprivate">Private </label> <input type= "checkbox" name = "pinprivate"{% if pinprivate %}checked {% endif %}  id = "pinprivate">
   <p>Taken on {{ date }}</p>
   </div>
   
   <p id="id" hidden>{{ id }}</p>
   <p id="pinprivateval" hidden>{{ pinprivate }}</p>
   
   
    <div class="displaybox">
    {% if username %}

	  <form action="/hell/{{ id }}" method="post">
	  <input type="submit" value="Delete this Pin"/>
      </form>
	</div>
	  <div class="displaybox">
	  	{% for board in boards %}
	  		{% if "" ~ id in board.tags %}
	  			In <a href="/board/{{board.key().id()}}">{{ board.name }}</a> board.</br>
	  		{% endif %}
	  	{% endfor %}
	  
	  </div>
    <div class="displaybox">
    {% else %}
      <p>You must login first.</p>    
    {% endif %}
    </div>
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/mainpic.js"></script>
  {% endblock %}
  </body>
  

</html>