<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
</head>
<header>
</header>

  <body>
  {% extends "base.html" %}
  {% block title %}{{ title }}{% endblock %}
  {% block header %}{{ header }}{% endblock %}
  {% block content %}
    <h1>{{ title }}</h1>
   	<div class="displaybox">
   	  Enter new pin:
	  <form action="/" method="post">
	  <label for="imgUrl">Image URL:</label> <input type="text" name="imgUrl"/><br/>
	  <label for="caption">Caption:</label> <input type="text" name="caption"/><br/>
	  <input type="submit" value="Submit"/>
	  </form>
	  </div>
	  
   {% for pin in pins %}
    	
    	{% if username %}
    		{% if pin.pinprivate != "on" %}
   			<div class="displaybox">
   			<p>  <a href="/pin/{{pin.key().id()}}"><img class="imgpx" src="{{ pin.imgUrl }}"/></a></br> Taken on {{ pin.date }}</p>
   			<p>  {{ pin.caption }}</p>
   			{% elif username == pin.owner %}
   			<p>  <a href="/pin/{{pin.key().id()}}"><img class="imgpx" src="{{ pin.imgUrl }}"/></a></br> Taken on {{ pin.date }}</p>
   			<p>  {{ pin.caption }}</p>
    		{% endif %}
    	{% else %}
      		<p>You must login first.</p>    
    	{% endif %}
    	</div>
    {% endfor %}
	{% endblock %}
  </body>
  

</html>