<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/style.css" />
</head>
<header>
</header>

  <body>
  {% extends "base.html" %}
  {% block title %}{{ title }}{% endblock %}
  {% block header %}{{ header }}{% endblock %}
  {% block content %}
    <h1>{{ title }}</h1>
   
   <div class="displaybox2">
   <p>   <img src="{{ imgUrl }}"/></p>
   <p>   {{ caption }}</p>
   <p>Taken on {{ date }}</p>
   
   </div>
   
   
    <div class="displaybox">
    {% if username %}
 

	  <form action="/pin/{{ id }}" method="post">
	  <label for="imgUrl">Image URL:</label> <input type="text" name="imgUrl"/><br/>
	  <label for="caption">Caption:</label> <input type="text" name="caption"/><br/>
	  <label for="pinprivate">Private </label> <input type= "checkbox" name = "pinprivate">
	  </br>
	  <input type="submit" value="Update Pin info"/>
	  </form>


	  <form action="/hell/{{ id }}" method="post">
	  <input type="submit" value="Delete this Pin"/>
      </form>
	</div>
	  <div class="displaybox">
	  	{% for board in boards %}
	  		{% if "" ~ id in board.tags %}
	  			In <a href="/board/{{board.key().id()}}">{{ board.name }}</a> board.</br>
	  		{% endif %}
	  	{% endfor %}
	  
	  </div>
    <div class="displaybox">
    {% else %}
      <p>You must login first.</p>    
    {% endif %}
    </div>
  {% endblock %}
  </body>
  

</html>